---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../../components/BaseHead.astro';
import Footer from '../../../components/Footer.astro';
import FormattedDate from '../../../components/FormattedDate.astro';
import Header from '../../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../../consts';
import { languages } from '../../../i18n/ui';

export function getStaticPaths() {
	return Object.keys(languages).map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;

const projects = (await getCollection('projects'))
	.filter((project) => project.id.startsWith(`${lang}/`))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang={lang}>
	<head>
		<BaseHead title={`Projects - ${SITE_TITLE}`} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
				width: 100%;
                object-fit: cover;
                aspect-ratio: 16/9;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
            .technologies {
                display: flex;
                gap: 0.5rem;
                flex-wrap: wrap;
                margin-top: 0.5rem;
            }
            .tech-badge {
                background-color: #f0f0f0;
                padding: 0.2rem 0.5rem;
                border-radius: 4px;
                font-size: 0.8rem;
                color: #333;
            }
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
            <h1>{lang === 'pl' ? 'Projekty' : 'Projects'}</h1>
			<section>
				<ul>
					{
						projects.map((project) => (
							<li>
								<a href={`/${lang}/projects/${project.id.split('/')[1]}/`}>
									{project.data.heroImage && (
										<Image width={720} height={360} src={project.data.heroImage} alt="" />
									)}
									<h4 class="title">{project.data.title}</h4>
									<p class="date">
										<FormattedDate date={project.data.pubDate} />
									</p>
                                    <div class="technologies">
                                        {project.data.technologies.map(tech => (
                                            <span class="tech-badge">{tech}</span>
                                        ))}
                                    </div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
